<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/11tytest/assets/css/tailwind.css", rel="stylesheet">
  <script defer src="/11tytest/assets/js/alpine.js"></script> <!-- Alpinejs -->
  <title><%- title -%></title>
</head>
<body class="bg-gray-50">

  <!-- Container (set centered + RESP-padding up in tailwind.config.js) -->
  <div class="container bg-gray-50 py-2 relative">

    <%- content -%> <!-- pulls in content from src/index.ejs -->

  </div> <!-- /Container -->

</body>
</html>