---
layout: layouts/index
---

<div class="bg-white text-gray-600">

  <%- include ('../partials/header.ejs') -%>

  <div class="px-2 sm:px-4">

    <div class="text-green-500 text-4xl mt-4 tracking-wider"><%- title -%></div>

    <div class="">

      <div class="mt-4 leading-loose">

        <hr/>
        <div class="flex flex-col sm:flex-row">
          <div>
            <img class="mt-4 rounded-lg shadow-lg" src="/11tytest/assets/img/<%-image%>" alt=" <%- imageAlt %> " />             
            <p><%- imageAlt %></p>
          </div>
          <div class="mt-4 ml-4">

            <div class="">By <%- author %> </div>
            <div class="">Date: <% let postDate = date %> 
              <%- postDate.toLocaleString('en-US') -%> </div>
        
            <div class="my-4 leading-relaxed max-w-xl font-semibold">Summary: <%- description -%></div>
        
            <div class="my-4 leading-relaxed max-w-xl"><%- content -%></div>
            
            <a class="px-2 py-1 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100" href="../">Home</a>

            <% for (let i = 0; i < collections.post.length; i++) { %>
              <% let post = collections.post[i] %>
              <% if ( page.url == post.url){ %>
                <% idx = i %>

                <% if(idx < (collections.post.length -1)) { %>
                  <% let prv = idx +1 %> <!-- collections.post is NOT reversed -->
                  <% let prev = collections.post[prv] %>
                  <a class="ml-2 px-2 py-1 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100" href="/11tytest/<%- prev.url %>">Previous</a>
                <% } %>

                <% if(idx >= (collections.post.length -1)) { %>
                  <a class="ml-2 px-2 py-1 bg-purple-100 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100">Previous</a>
                <% } %>
    
                <% if(idx >= 1) { %>
                  <% let nxt = idx -1 %> <!-- collections.post is NOT reversed -->
                  <% let next = collections.post[nxt] %>
                  <a class="ml-2 px-2 py-1 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100" href="/11tytest/<%- next.url %>">Next</a>
                <% } %>
    
                <% if(idx < 1) { %>
                  <a class="ml-2 px-2 py-1 bg-purple-100 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100">Next</a>
                <% } %>

              <% } %>
            <% } %>

          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include ('../partials/footer.ejs') -%>

  <%- include ('../partials/copy.ejs') -%>
  
</div>