---
layout: layouts/index
title: This is my title
---

<div class="bg-white text-gray-600">

  <%- include ('./_includes/partials/header.ejs') -%>

  <div class="px-2 sm:px-4">

    <div class="text-green-500 text-4xl mt-4 tracking-wider">About me</div>

    <p class="my-4 leading-relaxed max-w-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero placeat in, voluptatibus hic provident beatae quam amet voluptates a commodi saepe non assumenda, magni voluptatem culpa, perspiciatis dolorem iste esse.</p>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

  </div>

  <%- include ('./_includes/partials/footer.ejs') -%>

  <%- include ('./_includes/partials/copy.ejs') -%>
  
</div>