---
title: blog
layout: layouts/index
pagination:
  data: collections.post
  size: 5
  reverse: true
---

<div class="bg-white text-gray-600">

  <%- include ('./_includes/partials/header.ejs') -%>

  <div class="px-2 sm:px-4">

    <div class="text-green-500 text-4xl mt-4 tracking-wider">All posts (most recent first)</div>

    <div class="mt-4">
      <hr/>
      <div id="buttons" class="mt-4 flex justify-center">
        
        <% if (pagination.previousPageHref) { %>
          <a href="/11tytest/<%- pagination.previousPageHref %>" class="px-2 py-1 ml-2 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100">Previous</a>
        <% } %>
        <% if (!pagination.previousPageHref) { %>
          <span class="px-2 py-1 ml-2 bg-purple-400 text-white rounded shadow-lg">Previous</span>
        <% } %>

        <% let index = 0 %>
        <% pagination.pages.forEach((pageEntry) => { %>
          <% if (page.url == pagination.hrefs[index]){ %>
          <a href="/11tytest/<%-pagination.hrefs[index]-%>" class="px-2 py-1 ml-2 bg-purple-100 text-black rounded shadow-lg">Page <%- index + 1 -%></a>
          <% } %>
          <% if (page.url != pagination.hrefs[index]){ %>
          <a href="/11tytest/<%-pagination.hrefs[index]-%>" class="px-2 py-1 ml-2 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100 active:text-gray-900 active:bg-purple-100:">Page <%- index + 1 -%></a>
          <% } %>
          <% index++ %>
        <% }) %>

        <% if (pagination.nextPageHref) { %>
          <a href="/11tytest/<%- pagination.nextPageHref %>" class="px-2 py-1 ml-2 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100">Next</a>
        <% } %>
        <% if (!pagination.nextPageHref) { %>
          <span class="px-2 py-1 ml-2 bg-purple-400 text-white rounded shadow-lg">Next</span>
        <% } %>
      </div>
    </div>

    <% pagination.items.forEach((p) => { %>
      <div class="mt-4 leading-loose">
        <hr/>
        <div class="flex flex-col sm:flex-row">
          <div><img class="mt-4 rounded-lg shadow-lg" src="/11tytest/assets/img/<%- p.data.image %>" alt=" <%- p.data.imageAlt %> " /></div>
          <div class="mt-4 ml-4">
            <div class="text-xl sm:text-2xl text-green-500 tracking-wider"> <%- p.data.title -%> </div>
            <div class="">By <%- p.data.author %> </div>
            <div class="">Date: <% let postDate = p.data.date %> 
              <%- postDate.toLocaleString('en-US') -%> </div>
            <div class="my-4 leading-relaxed max-w-xl"><span class="font-semibold">Summary:</span> <%- p.data.description %> </div>

            <a class="px-2 py-1 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100" href="/11tytest/<%-p.url%>">More...</a>
            
            <a class="ml-2 px-2 py-1 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100" href="/11tytest/">Home</a>
          </div>
        </div>    
      </div>
    <% }) %>

    <!-- https://www.11ty.dev/docs/pagination/nav/ -->

    <div class="mt-4">
      <hr/>
      <div id="buttons" class="mt-4 flex justify-center">
        
        <% if (pagination.previousPageHref) { %>
          <a href="/11tytest/<%- pagination.previousPageHref %>" class="px-2 py-1 ml-2 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100">Previous</a>
        <% } %>
        <% if (!pagination.previousPageHref) { %>
          <span class="px-2 py-1 ml-2 bg-purple-400 text-white rounded shadow-lg">Previous</span>
        <% } %>

        <% index = 0 %>
        <% pagination.pages.forEach((pageEntry) => { %>
          <% if (page.url == pagination.hrefs[index]){ %>
          <a href="/11tytest/<%-pagination.hrefs[index]-%>" class="px-2 py-1 ml-2 bg-purple-100 text-black rounded shadow-lg">Page <%- index + 1 -%></a>
          <% } %>
          <% if (page.url != pagination.hrefs[index]){ %>
          <a href="/11tytest/<%-pagination.hrefs[index]-%>" class="px-2 py-1 ml-2 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100 active:text-gray-900 active:bg-purple-100:">Page <%- index + 1 -%></a>
          <% } %>
          <% index++ %>
        <% }) %>

        <% if (pagination.nextPageHref) { %>
          <a href="/11tytest/<%- pagination.nextPageHref %>" class="px-2 py-1 ml-2 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100">Next</a>
        <% } %>
        <% if (!pagination.nextPageHref) { %>
          <span class="px-2 py-1 ml-2 bg-purple-400 text-white rounded shadow-lg">Next</span>
        <% } %>
      </div>
    </div>

  </div>

  <%- include ('./_includes/partials/footer.ejs') -%>

  <%- include ('./_includes/partials/copy.ejs') -%>
  
</div>