---
layout: layouts/index
title: This is my title
thisCSS: assets/css/tailwind.css
---

<div class="bg-white text-gray-600">

  <%- include ('./_includes/partials/header.ejs') -%>

  <div class="px-2 sm:px-4">

    <div class="text-green-500 text-4xl mt-4 tracking-wider">What this blog is about</div>

    <p class="my-4 leading-relaxed max-w-xl">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero placeat in, voluptatibus hic provident beatae quam amet voluptates a commodi saepe non assumenda, magni voluptatem culpa, perspiciatis dolorem iste esse.</p>

    <hr class="mt-4"/>

    <div class="text-green-500 text-4xl mt-4 tracking-wider">Featured posts :</div>

    <div class="">

        <% collections.featured.slice().reverse().forEach((p) => { %>
    
          <div class="mt-4 leading-loose">

            <hr/>
            <div class="flex flex-col sm:flex-row">
              <div><img class="mt-4 rounded-lg shadow-lg" src="/11tytest/assets/img/<%- p.data.image %>" alt=" <%- p.data.imageAlt %> " /></div>
              <div class="mt-4 ml-4">
                <div class="text-xl sm:text-2xl text-green-500 tracking-wider"> <%- p.data.title -%> </div>
                <div class="">By <%- p.data.author %> </div>
                <div class="">Date: <% let postDate = p.data.date %> 
                  <%- postDate.toLocaleString('en-US') -%> </div>
                <div class="my-4 leading-relaxed max-w-xl"><span class="font-semibold">Summary:</span> <%- p.data.description %> </div>
                
                <a class="px-2 py-1 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100" href=".<%-p.url%>">More...</a>
                
                <a class="ml-2 px-2 py-1 bg-purple-400 text-white rounded shadow-lg hover:text-gray-900 hover:bg-purple-100" href="blog">All posts</a>
              </div>
            </div>
    
            </div>
    
        <% }) %>

        </div>

  </div>

  <%- include ('./_includes/partials/footer.ejs') -%>

  <%- include ('./_includes/partials/copy.ejs') -%>
  
</div>