<div class="flex justify-between items-center py-4 bg-purple-400 text-white">
  <div class="ml-4"><img class="w-24 rounded-full shadow-xl" src="/11tytest/assets/img/cd--cheers.jpg" /></div>
  <div class="ml-4 py-6 text-4xl tracking-wider">The site title goes here</div>
  <div class="w-24">

    <div class="" x-data="{ showModal: false }" @keydown.escape="showModal = false">

      <!-- hamburger -->
      <button @click="showModal = !showModal" class="text-white focus:text-white hover:text-white focus:outline:none">
        <svg class="h-12 w-12 fill-current" viewBox="0 0 24 24">
          <path x-show="!showModal" x-transition fill-rule="evenodd" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
          <path x-show="showModal" x-transition fill-rule="evenodd" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
        </svg>
      </button> <!-- /hamburger -->

      <!-- Overlay -->
		  <div class="overflow-auto" style="background-color: rgba(0,0,0,0)" x-show="showModal" :class="{ 'absolute inset-x-12 inset-y-44 sm:inset-y-36 lg:inset-x-20 xl:inset-x-24 xl:inset-y-36 2xl:inset-x-32 z-10 flex items-top justify-end': showModal }">

        <!-- modal -->
        <div x-show="showModal" @click.away="showModal = false">
          <div class="w-48 flex text-lg flex-col items-right justify-center rounded-lg bg-purple-400 p-4 border border-gray-300 shadow-lg">

            <a class="px-2 my-2 bg-purple-400 text-white hover:bg-purple-100 hover:text-gray-900 font-semibold rounded border border-gray-300" href="/11tytest/about/" @click="showModal = false">
              About me
            </a>
            <a class="px-2 my-2 bg-purple-400 text-white hover:bg-purple-100 hover:text-gray-900 font-semibold rounded border border-gray-300" href="/11tytest/portfolio/" @click="showModal = false">
              My portfolio
            </a>
            <a class="px-2 my-2 bg-purple-400 text-white hover:bg-purple-100 hover:text-gray-900 font-semibold rounded border border-gray-300" href="#" @click="showModal = false">
              Contact me
            </a>
          </div>
        </div> <!-- /modal -->

      </div> <!-- /overlay -->

    </div>

  </div>
</div>